<footer class="htc__foooter__area gray-bg">
	<div class="container">
		<div class="row">
			<div class="footer__container clearfix">
				<!-- Start Single Footer Widget -->
				<div class="col-md-3 col-lg-3 col-sm-6">
					<div class="ft__widget">
						<div class="ft__logo">
							<a href="index.html"> <img src="/images/logo/logo.png"
								alt="footer logo">
							</a>
						</div>
						<div class="footer-address">
							<ul>
								<li>
									<div class="address-icon">
										<i class="zmdi zmdi-pin"></i>
									</div>
									<div class="address-text">
										<p>Toà nhà Innovation, lô 24, Công viên phần mềm Quang
											Trung, Quận 12, Hồ Chí Minh</p>
									</div>
								</li>
								<li>
									<div class="address-icon">
										<i class="zmdi zmdi-email"></i>
									</div>
									<div class="address-text">
										<a href="#"> DATN@gmail.com</a>
									</div>
								</li>
								<li>
									<div class="address-icon">
										<i class="zmdi zmdi-phone-in-talk"></i>
									</div>
									<div class="address-text">
										<p>+84 11 123 4567</p>
									</div>
								</li>
							</ul>
						</div>
						<ul class="social__icon">
							<li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
							<li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- End Single Footer Widget -->
				<!-- Start Single Footer Widget -->
				<div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
					<div class="ft__widget">
						<h2 class="ft__title">Thông Tin Công Ty</h2>
						<ul>
							<li><a href="#">Giới Thiệu Công Ty</a></li>
							<li><a href="#">Liên hệ</a></li>
							<li><a href="#">Hệ thống cửa hàng</a></li>
						</ul>
					</div>
				</div>
				<!-- Start Single Footer Widget -->
				<div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
					<div class="ft__widget">
						<h2 class="ft__title">Hỗ trợ khách hàng</h2>
						<ul class="footer-categories">
							<li><a href="about.html">Hướng dẫn mua hàng</a></li>
							<li><a href="contact.html">Hóa đơn điện tử</a></li>
							<li><a href="#">Tra cứu đơn hàng</a></li>
							<li><a href="#">Vận Chuyển và nhận hàng</a></li>
						</ul>
					</div>
				</div>
				<!-- Start Single Footer Widget -->
				<div
					class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
					<div class="ft__widget">
						<h2 class="ft__title">Khuyến Mãi</h2>
						<div class="newsletter__form">
							<p>Đăng Ký Ngay để nhận mã giảm giá lên đên 5% khi mua tại
								Electronic Shopping</p>
							<div class="input__box">
								<div id="mc_embed_signup">
									<form action="#" method="post" id="mc-embedded-subscribe-form"
										name="mc-embedded-subscribe-form" class="validate"
										target="_blank" novalidate>
										<div id="mc_embed_signup_scroll" class="htc__news__inner">
											<div class="news__input">
												<input type="email" value="" name="EMAIL" class="email"
													id="mce-EMAIL" placeholder="Email Address" required>
											</div>
											<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
											<div style="position: absolute; left: -5000px;"
												aria-hidden="true">
												<input type="text"
													name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1"
													value="">
											</div>
											<div class="clearfix subscribe__btn">
												<input type="submit" value="Send" name="subscribe"
													id="mc-embedded-subscribe"
													class="bst__btn btn--white__color">

											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Footer Widget -->
			</div>
		</div>
		<!-- Start Copyright Area -->
		<div class="htc__copyright__area">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
					<div class="copyright__inner">
						<div class="copyright">
							<p>
								© 2022 <a href="https://freethemescloud.com/">Electronic
									Shopping</a> All Right Reserved.
							</p>
						</div>
						<ul class="footer__menu">
							<li><a href="index.html">Trang Chủ</a></li>
							<li><a href="shop.html">Sản Phẩm</a></li>
							<li><a href="contact.html">Liên Hệ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Copyright Area -->
	</div>
</footer>