<header id="header" class="htc-header header--3 bg__white">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                    <div class="logo">
                        <a href="index.html">
                            <img src="/images/logo/logo.png" alt="logo">
                        </a>
                    </div>
                </div>
                <!-- Start MAinmenu Ares -->
                <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                    <nav class="mainmenu__nav hidden-xs hidden-sm">
                        <ul class="main__menu">
                            <li class="drop"><a href="index.html">Trang Chủ</a></li>
                            <li class="drop"><a href="#">Giới thiệu</a></li>
                            <li class="drop"><a href="#">Sản Phẩm</a></li>
                            <li class="drop"><a href="#">Tài Khoản</a>
                                <ul class="dropdown">
                                    <li><a href="#">Đăng nhập</a></li>
                                    <li><a href="#">Đăng kí</a></li>
                                    <li><a href="#">Đăng xuất</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Adminstrator</a></li>
                        </ul>
                    </nav>
                                             
                </div>
                <!-- End MAinmenu Ares -->
                <div class="col-md-2 col-sm-4 col-xs-3">  
                    <ul class="menu-extra">
                        <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                        <li><a href="#"><span class="ti-user"></span></a></li>
                        <li class="cart__menu"><span class="ti-shopping-cart"></span></li>
                        <!--<li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>-->
                    </ul>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>

<div class="offset__wrapper">
    <!-- Start Search Popap -->
    <div class="search__area">
        <div class="container" >
            <div class="row" >
                <div class="col-md-12" >
                    <div class="search__inner">
                        <form action="/search" method="post">
                            <input placeholder="Search here... " type="text" name="name">
                            <button type="submit"></button>
                        </form>
                        <div class="search__close__btn">
                            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>